body, html {
    height:100%;
    margin:0;
}
/* Parallax */
.parallax-container {
    min-height: 550px;
    line-height: 0;
    height: auto;
}

.parallax { 
    /* background: transparent; */
}

#bgimg-1, 
#bgimg-2 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    width:100%; 
}

.container {
    border:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1 {
    font-family:'Raleway', sans-serif;
    color:#484848;
    letter-spacing:5px;
    text-transform: uppercase;
    font-size:50px; 
}

#first {
    font-weight:200;
}

#last {
    font-weight:700;
}

.caption {
    z-index:2;
    position:absolute;
    left:0;
    top:20%;
    width:100%;
    text-align:center;
}

#developer {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif; 
}

h2 {
    font-family:'Roboto', sans-serif;
    color:black;
    letter-spacing:5px;
    text-transform: uppercase;
    font-size:25px;
}

h3 {
    font-family:'Roboto', sans-serif; 
    letter-spacing:2px;
    font-size:20px;
    font-weight:bold;
    color:#282E34;
}

.text {
    max-width:1500px;
    margin:auto;
}

p {
    font-family:'Roboto', sans-serif;
    letter-spacing:2px;
    font-size:16px;   
}

.card-title {
    margin:0px;
}
.card-text {
    font-family:'Roboto', sans-serif;
    font-size:14px;
    letter-spacing:0px;
}

#profile-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic {
    height:auto;
    width:100%;
    max-width:280px;
    border-radius:50%;
}

.contact-info { 
    background:#282E34;
    padding:10px;
}

#contact {
    font-size:25px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.icon-link {
    height:30px
}

.link {
    color:white;
    transition: all 0.3s ease-in;
    text-decoration:none;
}

.link:hover {
    color:white;
    text-decoration: none;
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px white;
}

#portfolio {
    min-height:100%;
    background: #f7f7f7;
}

.container {
    position:relative;
    /* border:1px solid #dddddd;  */
    margin-bottom: 100px;
}

.card-link {
    color:black;
}





@media only screen and (max-width: 991px) { 
    #profile-pic {
        max-width:200px; 
        margin-bottom:15px;
    }
    #bgimg-2 {
        min-height:400px;
    }
 } 


@media only screen and (max-width: 768px) { 

    .caption {
        top:10%;
    }

    h1 {
        font-size:40px;
    }

    #developer {
        font-size:18px;
    }

    #profile-pic {
        max-width:240px; 
        margin-bottom:15px;
    }

    p {
        font-size:14px;    
    }

    #bgimg-1 {
        min-height:400px;
    }

    #bgimg-2 {
        min-height:200px;
    }

 }


 @media only screen and (max-width: 450px) { 

    .caption {
        top:7%;
    }

    h1 {
        font-size:30px;
    }

    #developer {
        font-size:15px;
    }

    #profile-pic {
        max-width:180px; 
        margin-bottom:15px;
    }

    p {
        font-size:14px;    
    }

    #bgimg-1 {
        min-height:300px;
    }

    #bgimg-2 {
        min-height:200px;
    }

    .card-flip{
        max-width:400px;
        
        margin:auto;
        
    }

    #contact{
        font-size:18px;
    }
    
    .icon-link {
        height:20px
    }

    .link {
        font-size:14px;
    }
 }





